@import "compass_lib/compass";
//@import "compass";

h1 {
    color: red;

    transition: 200ms ease-out transform;
    &:hover {
        color: yellow;
        transform: translate(10px,0);
  }
}

h2 {
	@include transition(200ms ease-out transform);
	@include transform(translate(10px,0));
}